<a href="https://colab.research.google.com/github/Shiying-Cai/COMP488-Assignment2/blob/main/COMP_488_Assignmet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **BUSI 488 / COMP 488 Assignmet 2**
## *Group 7*  
Maya Agnihotri, Yulim Kim, Shiying Cai, Ankit Karki, David Nassif

# Initialization

## Python library installs and imports

In [6]:
import pandas as pd
import numpy as np
from tabulate import tabulate 

# !pip install pickle5
import pickle5 as pickle

from google.colab import drive
import os

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.1/132.1 KB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp38-cp38-linux_x86_64.whl size=262094 sha256=74b5340649f08f8e45c6688f3313ff3f515b57097c45ad8456fbe895b0dfda8b
  Stored in directory: /root/.cache/pip/wheels/25/d4/61/dbd8edd1a0d656be7b4267c85db3b61951eb60016a0154a122
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

## Mounting drives and importing data
Reads the data frame df from the pickled CoffeeShop data file

In [3]:
#mount google drive utility
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
# path to data file
path = "/content/drive/MyDrive/COMP_488/Assignment2"
os.chdir(path)
!ls

488-2023-Assignment2-Coffee_CashierLog-2018-2020.pkl
488-2023-Assignment_2-CoffeShop-Cost-Structure-20221219.pdf
Coffee_CashierLog-2018-2020_cleaned.pkl
CoffeeShopWrangling_1_Fix_Types+Strings.ipynb

In [5]:
df = pd.read_pickle("488-2023-Assignment2-Coffee_CashierLog-2018-2020.pkl")
df.head()

,TimeStamp,BasketID,Category,Item,Qty,Price Point Name,SKU,Modifiers Applied,Gross Sales,Discounts,Notes,Unit,Count,Event Type,PaymentID,CustomerID
0,10/5/18 13:09:39,57034,From the Barista,Vanilla Chai Latte,1,12oz,NaN,NaN,$3.50,$0.00,NaN,ea,1,Payment,42740,5477
1,10/5/18 13:09:39,57034,From the Barista,Flavored Latte,1,20oz,NaN,NaN,$4.45,($0.44),NaN,ea,1,Payment,42740,5477
2,10/5/18 13:15:00,52838,What's Brewing,Coffee of the Day,1,16oz,NaN,NaN,$2.25,$0.00,NaN,ea,1,Payment,50902,-1
3,10/5/18 13:20:11,17649,From the Barista,Latte,1,20oz,NaN,NaN,$3.95,$0.00,NaN,ea,1,Payment,45994,-1
4,10/5/18 13:41:41,2511,None,Custom Amount,1,NaN,NaN,NaN,$0.47,$0.00,NaN,ea,1,Payment,9852,-1